
body {
  background-color: #000000;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* vignette */
body:before {
  border-radius: 1in;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 1in 1in white;
}

